html,body,
      #sceneDiv {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
	  
	  #paneDiv {
        position: absolute;
        bottom: 2%;
        left: 33%;
        width: 35%;
        padding: 5px 12px 5px 12px;
        background-color: rgba(255, 255, 255, 0.85);
        color: black;
				text-align: center;			
      }
	
	#buttonDiv {
		color: #fff;
		text-align: center;	
		padding: 5px 9px 5px 9px;
		display: flex;
		width: 280px;
	}
	
	.buttons {
		text-align: center;
		font-weight: 580;
		line-height: 130%;
		background-color: rgba(0, 0, 0, 0.4);
		border: none;
		border-radius: 6px;
		color: #fff;
		padding: 5px 5px 5px 5px;
		width: 80%;
		position: relative;
		left: 12%;
	}
	
	.buttons:hover {
		color: orange;
		background-color: rgba(0, 0, 0, 0.85);
		cursor: pointer;
	}
	
	.clicked {
		text-align: center;
		font-weight: 580;
		line-height: 130%;
		background-color: rgba(0, 0, 0, 0.85);
		border: none;
		border-radius: 6px;
		color: orange;
		padding: 5px 5px 5px 5px;
		width: 80%;
		position: relative;
		left: 12%;
	}
	
	.clicked:hover {
		cursor: pointer;
	}
	
    #panel_controls_content {
	  max-height: 94vh;
	  overflow-y: auto;
      overflow-x: hidden;
      background-color: rgba(0, 0, 0, 0.7);
    }

    #panel_controls_content .feature-list {
      margin-top: 0px;
    }

    #panel_controls_content .esri-feature__title {
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
    }

    #panel_controls_content .esri-feature__size-container {
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      cursor: pointer;
    }
	
	#panel_controls_content p {
	  color: white;
	  text-align: center;
	  font-size: 17px;
    }

    #panel_controls_content .esri-widget__heading {
      margin: 0 0 3px 0;
    }

    #panel_controls_content .esri-feature-content div {
      padding: 10px;
    }

    #panel_controls_content .esri-feature__size-container:hover,
    #panel_controls_content .esri-feature__size-container:focus {
      color: orange;
      background-color: rgba(0, 0, 0, 0.85);
    }

	  .counterDiv {
		background-color: rgba(0, 0, 0, 0.4);
		color: #fff;
		text-align: center;	
		padding: 3px 9px 5px 9px;
		display: flex;
		width: 280px;
	  }
	  
	  .pocitadlo {
		text-align: center;
		padding: 10px 15px 1px 15px;
		width: 33%;
	  }
	  
	  .pocitadlo1 {
		text-align: center;
		padding: 10px 15px 1px 15px;
		position: relative;
		left: 33%;
		width: 33%;
	  }

      .panel-container {
        position: relative;
        width: 100%;
        height: 100%;
      }